<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>CRUD com Python</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Crud com Python</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
         <form method="get">
              <input type="text" id="search" name="search" class="form-control" placeholder="Buscar...">
         </form>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/form" class="btn btn-success">Adicionar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">CodMed</th>
              <th scope="col">NomeMed</th>
              <th scope="col">Genero</th>
              <th scope="col">Telefone</th>
              <th scope="col">Email</th>
              <th scope="col">CodEspec</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>

          {% for dbs in db %}
            <tr>
              <th> {{dbs.CodMed}}</th>
              <td>{{dbs.NomeMed}}</td>
              <td>{{dbs.Genero}}</td>
              <td>{{dbs.Telefone}}</td>
              <td>{{dbs.Email}}</td>
              <td>{{dbs.CodEspec}}</td>
              <td>
                    <!--<a href="/view/{{dbs.CodMed}}/" class="btn btn-dark">Visualizar</a>-->
                    <a href="/edit/{{dbs.CodMed}}/" class="btn btn-primary">Editar</a>
                    <a href="/delete/{{dbs.CodMed}}/" class="btn btn-danger btnDel">Deletar</a>
              </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
    </div>

    <div class="pagination">
    {% if db.has_previous %}
        <a href="?page={{db.previous_page_number}}"> < </a>
    {% endif %}

    {{db.number}}

    {% if db.has_next %}
        <a href="?page={{db.next_page_number}}"> > </a>
    {% endif %}
    </div>


    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
</body>


</html>