{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>ClinicaMedico</title>
	<meta charset="utf-8">
	<link rel="icon" href="./images/icon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>


	<header>
			<div class="menu">
				<div id="logo">
					<h2>Clínicas Médicas</h2>
				</div>
				<div id="nav">
					<button id="link1" class="active" >Médicos</button>
					<button id="link2" >Clínicas</button>
				</div>
			</div><!--menu-->

			<div class="clear"></div>
	</header>

	<section id="secao1" class="ativa">
		<div id="Sections" class="center">

			<div id="headerSections">

				<h2>Médicos Disponíveis</h2>
				<button id="abrir-modal-novo-medico" class="new">Novo Médico</button>

			</div><!--headerSections-->

			<div class="divider"></div>

			<div class="table">
				<div id="top-table">
					<p>Nome</p>
					<p>Gênero</p>
					<p>Email</p>
					<p>Telefone</p>
					<p>Carga Horária Semanal</p>
					<p style="color:white;">Ações</p>
				</div>
				<div id="infos-table">

					<!--NO PHP USARIA UM FOR EACH E TROCARIA AS INFORMAÇÕES PELAS INFORMAÇÕES DO BANCO-->
					{% for dbs in db %}
					<div class="info-line">
						<p>{{dbs.NomeMed}}</p>
						<p>{{dbs.Genero}}</p>
						<p>{{dbs.Email}}</p>
						<p>{{dbs.Telefone}}</p>
						<p>20h</p>
						<div id="icons">
							<!--MUDAR O PARÂMETRO QUE PASSA DENTRO DO SETIDMEDICO() PARA OQ Q TIVER SENDO PASSADO PELO OBJETO-->
							<button id="abrir-modal-editar-medico" onclick="setInfoMed(20008, 'Rodrigo', 'masculino', 'rodrigo@gmail.com', '7305477760', 10001, '2020-04-30', '20')" class="icon"><i class="icon-pencil"></i></button>
							<button class="icon" onclick=""{% url 'delete' dbs.CodMed %}""><i class="icon-trash"></i></button>
						</div><!--icons-->
					</div><!--info-line-->
					{% endfor %}	

				</div><!--infos-table-->
			</div><!--table-->

		</div> <!--Sections-->
	</section> 
	  
	<section id="secao2">
		<div id="Sections" class="center">

			<div id="headerSections">

				<h2>Clínicas Disponíveis</h2>
				<button id="abrir-modal-nova-clinica" class="new">Nova Clínica</button>

			</div><!--headerSections-->

			<div class="divider"></div>

			<div class="table">
				<div id="top-table">
					<p>Código</p>
					<p>Nome</p>
					<p>Endereço</p>
					<p>Email</p>
					<p>Telefone</p>
					<p style="color:white;">Ações</p>
				</div>
				<div id="infos-table">

					<!--NO PHP USARIA UM FOR EACH E TROCARIA AS INFORMAÇÕES PELAS INFORMAÇÕES DO BANCO-->
					<div class="info-line" onclick="toggleDropdown(this)">
						<p>10001</p>
						<p>Clinical</p>
						<p>21st Martins</p>
						<p>Clinical@gmail.com</p>
						<p>7305477760</p>
						<div id="icons">
							<button id="abrir-modal-editar-clinica" onclick="setInfoCli(10001, 'Clinical', '21st Martins', 'Clinical@gmail.com', '7305477760')" class="icon"><i class="icon-pencil"></i></button>
							<button class="icon"><i class="icon-trash"></i></button>
						</div><!--icons-->
					</div><!--info-line-->
					<div class="dropdown-content">
						<div class="info-medicos">
							<p class="title">Médicos Cadastrados</p>
							<div class="table-info-medicos">
								<div id="top-table-info-medicos">
									<p>Nome</p>
									<p>Email</p>
									<p>Telefone</p>
									<p>Data de Entrada</p>
								</div>
							
								<div class="info-line-medicos">
									<p>Rodrigo</p>
									<p>rodrigo@gmail.com</p>
									<p>7305477760</p>
									<p>10/01/2001</p>
								</div>

								<div class="info-line-medicos">
									<p>Rodrigo</p>
									<p>rodrigo@gmail.com</p>
									<p>7305477760</p>
									<p>10/01/2001</p>
								</div>

								<div class="info-line-medicos">
									<p>Rodrigo</p>
									<p>rodrigo@gmail.com</p>
									<p>7305477760</p>
									<p>10/01/2001</p>
								</div>
							</div><!--table-info-medicos-->

						</div><!--info-medicos-->
					</div><!--dropdown-content-->
					

				</div><!--infos-table-->
			</div><!--table-->

		</div> <!--Sections-->
	</section> <!--Seção-->

	<!--MODAIS-->
	<div id="novo-medico" class="modal">
		<div class="modal-conteudo">
		  <h1>Adicione um Novo Médico</h1>
		  <button id="fechar-modal-novo-medico" class="fechar-modal">X</button>


		  <form>
			<div class="doubleLine">
				<div class="campo-formulario">
					<label for="nome">Código do Médico</label>
					<div class="icone-input">
					<input type="number" id="codMedico" name="codMedico" placeholder="ex: 20001">
					</div>
				</div>

				<div class="campo-formulario">
				<label for="nome">Nome</label>
				<div class="icone-input">
					<input type="text" id="nome" name="nome" placeholder="ex: Rodrigo">
				</div>
				</div>
			</div>
			
			<div class="doubleLine">
				<div class="campo-formulario">
				<label for="genero">Gênero</label>
				<div class="icone-input">
					<select id="genero" name="genero">
					<option value="">Selecione</option>
					<option value="F">Feminino</option>
					<option value="M">Masculino</option>
					</select>
				</div>
				</div>
			
			
				<div class="campo-formulario">
				<label for="email">E-mail</label>
				<div class="icone-input">
					<input type="email" id="email" name="email" placeholder="ex: elonmusk@mars.com">
				</div>
				</div>
			</div>
			
			<div class="doubleLine">
				<div class="campo-formulario">
				<label for="telefone">Telefone</label>
				<div class="icone-input">
					<input type="tel" id="telefone" name="telefone" placeholder="ex: (99) 99999-9999">
				</div>
				</div>

				<div class="campo-formulario">
					<label for="nome">Código da Clínica</label>
					<div class="icone-input">
					<input type="number" id="codigo" name="codigo" min="0" placeholder="ex: 10001">
					</div>
				</div>
			</div>

			<div class="doubleLine">
				<div class="campo-formulario">
				<label for="data-entrada">Data de Entrada</label>
				<div class="icone-input">
					<input type="date" id="data-entrada" name="data-entrada" placeholder="Digite a data de entrada">
				</div>
				</div>

				<div class="campo-formulario">
					<label for="nome">Carga Horária Semanal</label>
					<div class="icone-input">
					<input type="number" id="cargaHoraria" name="cargaHoraria" placeholder="ex: 20">
					</div>
				</div>
			</div>
			
			<button id="cadastrar-medico" type="submit">Cadastrar</button>
		  </form>
		</div><!--modal-conteudo-->
	  </div><!--novo-medico-->

	  <div id="editar-medico" class="modal">
		<div class="modal-conteudo">
		  <h1>Editar Médico</h1>
		  <button id="fechar-modal-editar-medico" class="fechar-modal">X</button>


		  <form>
			<div class="doubleLine">
				<div class="campo-formulario">
					<label for="nome">Código do Médico</label>
					<div class="icone-input">
					<input type="number" id="editCodMedico" name="editCodMedico" placeholder="ex: 20001" readonly>
					</div>
				</div>

				<div class="campo-formulario">
				<label for="nome">Nome</label>
				<div class="icone-input">
					<input type="text" id="editNomeMed" name="editNomeMed" placeholder="ex: Rodrigo">
				</div>
				</div>
			</div>
			
			<div class="doubleLine">
				<div class="campo-formulario">
				<label for="genero">Gênero</label>
				<div class="icone-input">
					<select id="editGenero" name="editGenero">
					<option value="">Selecione</option>
					<option value="feminino">Feminino</option>
					<option value="masculino">Masculino</option>
					</select>
				</div>
				</div>
			
			
				<div class="campo-formulario">
				<label for="email">E-mail</label>
				<div class="icone-input">
					<input type="email" id="editEmailMed" name="editEmailMed" placeholder="ex: elonmusk@mars.com">
				</div>
				</div>
			</div>
			
			<div class="doubleLine">
				<div class="campo-formulario">
				<label for="telefone">Telefone</label>
				<div class="icone-input">
					<input type="tel" id="editTelefoneMed" name="editTelefoneMed" placeholder="ex: (99) 99999-9999">
				</div>
				</div>

				<div class="campo-formulario">
					<label for="nome">Código da Clínica</label>
					<div class="icone-input">
					<input type="number" id="editCodigoCliMed" name="editCodigoCliMed" min="0" placeholder="ex: 10001">
					</div>
				</div>
			</div>

			<div class="doubleLine">
				<div class="campo-formulario">
				<label for="data-entrada">Data de Entrada</label>
				<div class="icone-input">
					<input type="date" id="editData-entradaMed" name="editData-entradaMed" placeholder="Digite a data de entrada">
				</div>
				</div>

				<div class="campo-formulario">
					<label for="nome">Carga Horária Semanal</label>
					<div class="icone-input">
					<input type="number" id="editCargaHorariaMed" name="editCargaHorariaMed" placeholder="ex: 20">
					</div>
				</div>
			</div>
			
			<button id="editar-medico" type="submit">Editar</button>
		  </form>
		</div><!--modal-conteudo-->
	  </div><!--editar-medico-->

	  <div id="nova-clinica" class="modal">
		<div class="modal-conteudo">
		  <h1>Adicione uma Nova Clínica</h1>
		  <button id="fechar-modal-nova-clinica" class="fechar-modal">X</button>


		  <form>

			<div class="campo-formulario">
				<label for="nome">Código</label>
				<div class="icone-input">
				  <input type="number" id="codigo" name="codigo" placeholder="ex: 10001">
				</div>
			  </div>

			<div class="campo-formulario">
			  <label for="nome">Nome da Clínica</label>
			  <div class="icone-input">
				<input type="text" id="nome" name="nome" placeholder="ex: Rodrigo">
			  </div>
			</div>
			
			<div class="campo-formulario">
				<label for="nome">Endereço</label>
				<div class="icone-input">
				  <input type="text" id="endereco" name="endereco" placeholder="ex: Av. teste, n° 1">
				</div>
			  </div>
			
			<div class="campo-formulario">
			  <label for="email">E-mail</label>
			  <div class="icone-input">
				<input type="email" id="email" name="email" placeholder="ex: elonmusk@mars.com">
			  </div>
			</div>
			
			<div class="campo-formulario">
			  <label for="telefone">Telefone</label>
			  <div class="icone-input">
				<input type="tel" id="telefone" name="telefone" placeholder="ex: (99) 99999-9999">
			  </div>
			</div>
			
			<button id="cadastrar-clinica" type="submit">Cadastrar</button>
		  </form>
		</div><!--modal-conteudo-->
	  </div><!--nova-clinica-->

	  <div id="editar-clinica" class="modal">
		<div class="modal-conteudo">
		  <h1>Editar Clínica</h1>
		  <button id="fechar-modal-editar-clinica" class="fechar-modal">X</button>


		  <form>

			<div class="campo-formulario">
				<label for="nome">Código</label>
				<div class="icone-input">
				  <input type="number" id="editCodCli" name="editCodCli" placeholder="ex: 10001" readonly>
				</div>
			  </div>

			<div class="campo-formulario">
			  <label for="nome">Nome da Clínica</label>
			  <div class="icone-input">
				<input type="text" id="editNomeCli" name="editNomeCli" placeholder="ex: Rodrigo">
			  </div>
			</div>
			
			<div class="campo-formulario">
				<label for="nome">Endereço</label>
				<div class="icone-input">
				  <input type="text" id="editEnderecoCli" name="editEnderecoCli" placeholder="ex: Av. teste, n° 1">
				</div>
			  </div>
			
			<div class="campo-formulario">
			  <label for="email">E-mail</label>
			  <div class="icone-input">
				<input type="email" id="editEmailCli" name="editEmailCli" placeholder="ex: elonmusk@mars.com">
			  </div>
			</div>
			
			<div class="campo-formulario">
			  <label for="telefone">Telefone</label>
			  <div class="icone-input">
				<input type="tel" id="editTelefoneCli" name="editTelefoneCli" placeholder="ex: (99) 99999-9999">
			  </div>
			</div>
			
			<button id="editar-clinica" type="submit">Editar</button>
		  </form>
		</div><!--modal-conteudo-->
	  </div><!--editar-clinica-->

	<footer>
		<p>Feito com <i class="icon-heart"></i> por SMD</p>
	</footer>

	<script src="./js/index.js"></script>


</body>
</html>